html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 25px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Russo One", sans-serif;
  background-color: #e8bede;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

